In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import chi2

%autosave 5

Autosaving every 5 seconds

In [3]:
response = pd.read_csv("clean_kaggle_data_2022.csv",low_memory=False)
response

FileNotFoundError: [Errno 2] File clean_kaggle_data_2022.csv does not exist: 'clean_kaggle_data_2022.csv'

In [ ]:
response[response["Q29_buckets"].isnull()]
response[response["Q29_Encoded"].isnull()]

,Duration (in seconds),Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,...,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12,Q29_Encoded,Q29_buckets
0,Duration (in seconds),What is your age (# years)?,What is your gender? - Selected Choice,In which country do you currently reside?,"Are you currently a student? (high school, uni...",On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,On which platforms have you begun or completed...,...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,Who/what are your favorite media sources that ...,NaN,NaN

In [ ]:
response = response.fillna("unknow")  ## Filling the empty with unknow

response = response.iloc[:,1:]  #drop the first column since no help for further analysis
response2 = response.iloc[1:,:]
response2

,Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,...,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12,Q29_Encoded,Q29_buckets
1,55-59,Man,France,No,Coursera,unknow,Kaggle Learn Courses,unknow,unknow,unknow,...,"Course Forums (forums.fast.ai, Coursera forums...",unknow,unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,2.0,"20,000-29,999"
2,30-34,Man,Germany,No,Coursera,edX,unknow,unknow,unknow,Udacity,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
3,70+,Man,Australia,No,Coursera,unknow,Kaggle Learn Courses,unknow,unknow,unknow,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...",unknow,unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
4,40-44,Man,United States of America,No,Coursera,unknow,Kaggle Learn Courses,unknow,Fast.ai,Udacity,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,13.0,"200,000-299,999"
5,40-44,Man,United States of America,No,Coursera,unknow,unknow,unknow,unknow,Udacity,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",unknow,unknow,unknow,13.0,"200,000-299,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132,40-44,Man,United States of America,No,unknow,unknow,Kaggle Learn Courses,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
8133,35-39,Man,India,No,unknow,unknow,unknow,unknow,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,0.0,"0-9,999"
8134,40-44,Man,India,No,unknow,unknow,unknow,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,0.0,"0-9,999"
8135,25-29,Man,Turkey,No,unknow,unknow,unknow,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,2.0,"20,000-29,999"
8136,35-39,Woman,Israel,No,unknow,unknow,Kaggle Learn Courses,unknow,unknow,Udacity,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,1.0,"10,000-19,999"

In [ ]:

#response2.drop("Q4",axis = 1)


def encode(response2,col):
    encode = {}
    i = 0

    for en in np.unique(response2[col]):
        if en != 'unknow':
            encode[en] = i
            i+=1
        else:
            encode[en] = 'unknow'
            i+=1
    return encode

In [ ]:
response2["Q26"].value_counts()

20+      2061
1-2      1658
0        1298
3-4      1257
5-9      1029
10-14     595
15-19     238
Name: Q26, dtype: int64

In [ ]:
Q11_encode = {  'I have never written code':0,
    '< 1 years': 1,
    '1-3 years': 2,
    '3-5 years': 3, 
    '5-10 years':4,
    '10-20 years': 5,
    '20+ years':6,
   }


Q43_encode = {  'Never': 0,
    'Once': 1,
    '2-5 times': 2, 
    '6-25 times':3,
    'More than 25 times': 4,
   }

platform_encode = encode(response2,col='Q32')

country_encode = encode(response2,col='Q4')

method_encode = encode(response2,col='Q27')


individual_encode = {  '0': 0,
    '1-2': 1,
    '3-4': 2, 
    '5-9':3,
    '10-14': 4,
    '15-19':5,
    '20+': 6
   }



num_empoly_encode = {   '0-49 employees': 0,
    '50-249 employees': 1,
    '250-999 employees': 2, 
    '1000-9,999 employees':3,
    '10,000 or more employees': 4,

   }

employe_encode = encode(response2,col='Q24')


role_encode = encode(response2,col="Q23")



hub_encode = encode(response2,col="Q22")

age_encode = {   '25-29': 0,
    '30-34': 1,
    '35-39': 1, 
    '40-44': 1,
    '22-24': 0,
    '45-49': 2, 
    '50-54': 2,
    '55-59': 2,
    '60-69': 3, 
    '18-21': 0,
    '70+': 3,
   }

gender_encode = {   'Man': 0,
    'Woman': 1,
    'Nonbinary': 2,
    'Prefer not to say': 3,
    'Prefer to self-describe': 4,
   }

Degree_encode = { 'Bachelor’s degree': 0,
    'Master’s degree': 1,
    'Doctoral degree': 2,
    'I prefer not to answer': 3,
    'Some college/university study without earning a bachelor’s degree': 4,
    'Professional doctorate': 5,
    'No formal education past high school ': 6,
}

Publish_encode = { 'Yes': 1,
    'No': 2,
    'unknow':'unknow'
}


experience_encode = {   'Under 1 year': 1,
    '1-2 years': 2,
    'I do not use machine learning methods': 0, 
    '2-3 years': 3,
    '5-10 years': 6,
    '4-5 years': 5, 
    '3-4 years': 4,
    '10-20 years': 7,
}

In [ ]:
hub_encode

{'  TensorFlow Hub ': 0,
 ' Huggingface Models ': 1,
 ' Jumpstart ': 2,
 ' Kaggle datasets ': 3,
 ' NVIDIA NGC models  ': 4,
 ' ONNX models ': 5,
 ' PyTorch Hub ': 6,
 ' Timm ': 7,
 'Other storage services (i.e. google drive)': 8,
 'unknow': 'unknow'}

In [ ]:
response2["Q2"] = response2["Q2"].map(age_encode)
response2["Q3"] = response2["Q3"].map(gender_encode)
response2["Q4"] = response2["Q4"].map(country_encode)
response2["Q8"] = response2["Q8"].map(Degree_encode)
response2["Q9"] = response2["Q9"].map(Publish_encode)
response2["Q11"] = response2["Q11"].map(Q11_encode)
response2["Q16"] = response2["Q16"].map(experience_encode)
response2["Q22"] = response2["Q22"].map(hub_encode)
response2["Q23"] = response2["Q23"].map(role_encode)
response2["Q24"] = response2["Q24"].map(employe_encode)
response2["Q25"] = response2["Q25"].map(num_empoly_encode)
response2["Q26"] = response2["Q26"].map(individual_encode)
response2["Q27"] = response2["Q27"].map(method_encode)
response2["Q32"] = response2["Q32"].map(platform_encode)
response2["Q43"] = response2["Q43"].map(Q43_encode)

/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q2"] = response2["Q2"].map(age_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q3"] = response2["Q3"].map(gender_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q4"] = response2["Q4"].map(country_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q8"] = response2["Q8"].map(Degree_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q9"] = response2["Q9"].map(Publish_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q11"] = response2["Q11"].map(Q11_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q16"] = response2["Q16"].map(experience_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q22"] = response2["Q22"].map(hub_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q23"] = response2["Q23"].map(role_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q24"] = response2["Q24"].map(employe_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q25"] = response2["Q25"].map(num_empoly_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q26"] = response2["Q26"].map(individual_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q27"] = response2["Q27"].map(method_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q32"] = response2["Q32"].map(platform_encode)
/var/folders/cd/90541xln2_vbl8ds68f0tt5w0000gn/T/ipykernel_3723/1099451944.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  response2["Q43"] = response2["Q43"].map(Q43_encode)

In [ ]:
response2

,Q2,Q3,Q4,Q5,Q6_1,Q6_2,Q6_3,Q6_4,Q6_5,Q6_6,...,Q44_5,Q44_6,Q44_7,Q44_8,Q44_9,Q44_10,Q44_11,Q44_12,Q29_Encoded,Q29_buckets
1,2,0,15,No,Coursera,unknow,Kaggle Learn Courses,unknow,unknow,unknow,...,"Course Forums (forums.fast.ai, Coursera forums...",unknow,unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,2.0,"20,000-29,999"
2,1,0,16,No,Coursera,edX,unknow,unknow,unknow,Udacity,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
3,3,0,2,No,Coursera,unknow,Kaggle Learn Courses,unknow,unknow,unknow,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...",unknow,unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
4,1,0,55,No,Coursera,unknow,Kaggle Learn Courses,unknow,Fast.ai,Udacity,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,13.0,"200,000-299,999"
5,1,0,55,No,Coursera,unknow,unknow,unknow,unknow,Udacity,...,unknow,unknow,"Podcasts (Chai Time Data Science, O’Reilly Dat...","Blogs (Towards Data Science, Analytics Vidhya,...","Journal Publications (peer-reviewed journals, ...",unknow,unknow,unknow,13.0,"200,000-299,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132,1,0,55,No,unknow,unknow,Kaggle Learn Courses,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,"Blogs (Towards Data Science, Analytics Vidhya,...",unknow,unknow,unknow,unknow,10.0,"100,000-124,999"
8133,1,0,20,No,unknow,unknow,unknow,unknow,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,0.0,"0-9,999"
8134,1,0,20,No,unknow,unknow,unknow,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,0.0,"0-9,999"
8135,0,0,51,No,unknow,unknow,unknow,DataCamp,unknow,unknow,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,2.0,"20,000-29,999"
8136,1,1,24,No,unknow,unknow,Kaggle Learn Courses,unknow,unknow,Udacity,...,unknow,"YouTube (Kaggle YouTube, Cloud AI Adventures, ...",unknow,unknow,unknow,unknow,unknow,unknow,1.0,"10,000-19,999"

**Feature Selectrion**

In [ ]:
## If the feature has 70% or more missing data, then drop the feature column ##

emp_len = len(response[response["Q6_3"] == "unknow"])
emp_len_list= []

for name in response.columns:
    emp_len = len(response[response[name]=='unknow'])
    emp_len = emp_len/8137
    if emp_len >= 0.38:
        response2 = response2.drop(name,axis = 1)

In [ ]:
# def preproess (response):
#     for name in response.iloc[:,:-2]:
#         modify = []
#         for elements in response[name]:
#             if elements != 0:
#                 elements = 1
#             modify.append(elements)

#         response[name] = modify
#     return response

In [ ]:
response2

,Q2,Q3,Q4,Q5,Q7_2,Q8,Q9,Q11,Q12_1,Q15_1,Q16,Q23,Q24,Q25,Q26,Q27,Q29,Q30,Q29_Encoded,Q29_buckets
1,2,0,15,No,"Online courses (Coursera, EdX, etc)",4.0,unknow,5,Python,Matplotlib,2.0,4,11,0,1,4,"25,000-29,999","$1000-$9,999",2.0,"20,000-29,999"
2,1,0,16,No,"Online courses (Coursera, EdX, etc)",0.0,unknow,5,Python,Matplotlib,5.0,11,6,2,6,3,"100,000-124,999",$0 ($USD),10.0,"100,000-124,999"
3,3,0,2,No,unknow,2.0,1,6,Python,unknow,6.0,10,5,3,6,4,"100,000-124,999",$100-$999,10.0,"100,000-124,999"
4,1,0,55,No,"Online courses (Coursera, EdX, etc)",2.0,1,5,Python,unknow,6.0,5,3,3,6,3,"200,000-249,999",$100-$999,13.0,"200,000-299,999"
5,1,0,55,No,unknow,1.0,1,5,Python,Matplotlib,6.0,4,3,3,2,3,"200,000-249,999","$100,000 or more ($USD)",13.0,"200,000-299,999"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8132,1,0,55,No,"Online courses (Coursera, EdX, etc)",1.0,2,5,Python,Matplotlib,1.0,2,1,4,6,3,"100,000-124,999",$0 ($USD),10.0,"100,000-124,999"
8133,1,0,20,No,"Online courses (Coursera, EdX, etc)",1.0,2,2,Python,Matplotlib,2.0,4,2,4,1,3,"2,000-2,999",$100-$999,0.0,"0-9,999"
8134,1,0,20,No,"Online courses (Coursera, EdX, etc)",0.0,unknow,2,Python,Matplotlib,0.0,3,3,0,0,1,$0-999,$1-$99,0.0,"0-9,999"
8135,0,0,51,No,"Online courses (Coursera, EdX, etc)",1.0,1,1,Python,unknow,1.0,6,4,4,0,1,"25,000-29,999",$100-$999,2.0,"20,000-29,999"
8136,1,1,24,No,unknow,2.0,1,3,Python,Matplotlib,1.0,10,0,0,0,4,"15,000-19,999",$0 ($USD),1.0,"10,000-19,999"

In [ ]:
resultant = {}
resultant = pd.DataFrame(data = resultant,columns=response.columns,index = response.columns)
resultant
for i in list(response2.iloc[:,:-2].columns):
    for j in list(response2.iloc[:,:-2].columns):
        if i != j:
            chi2_val, p_val = chi2(np.array(response2[i]).reshape(-1, 1), np.array(response2[j]).reshape(-1, 1))
            resultant.loc[i,j] = p_val
resultant

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').